body {
    background-color: #e9dfd2;
}

#myName {
    text-align: center;
}

#maes-hlink {
    color: green;
    text-decoration: none;
}

#z4p-hlink {
    color: #551A8B;
    text-decoration: none;
}

#contact-me {
    margin-top: 200px;
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    bottom: 0;
}

.contact-images {
    height: 50px;
}