body {
    background-color: #e9dfd2;
}

#myName {
    text-align: center;
}

#maes-hlink {
    color: green;
    text-decoration: none;
}

#z4p-hlink {
    color: rgb(49, 0, 128);
    text-decoration: none;
}

#contact-me {
    margin-top: 200px;
    text-align: center;
}

.contact-images {
    height: 50px;
}